<h2>Vegetarian Resources</h2>
Rochester Minnesota Vegetarian community contributed resource listings, highlists and reviews.
<ul>
<li><%= link_to 'Grocery Guide', grocery_path %> </li>
<li><%= link_to 'Restaurant Guide', ristorantes_path %></li>
<li><%= link_to 'Books',    books_path %></li>
<li><%= link_to 'Videos',     videos_path %></li>
<li><%= link_to 'Websites',   websites_path %> </li>
<li><%= link_to 'Rochester Area Community Supported Agriculture',  csas_path %> </li>
</ul>

