<p>
   <b>Title</b><br />
   <%= f.text_field :name %>
 </p>

<p><b>Category</b><br/>
<%= select("recipe", "category_id", Category.find(:all).collect{ |c| [ c.name, c.id] }) %>
</p>

 <p>
   <b>Description</b><br />
   <%= f.cktext_area :description, :size => "50x2" %>
 </p>

 <p>
   <b>Ingredients</b><br />
   <%= f.cktext_area :ingredients,  :size => "50x20"  %>
 </p>
 
 <p>
   <b>Instructions</b><br />
   <%= f.cktext_area :instructions, :size => "70x15"  %>
 </p>
 <p>
   <%= f.submit button%>
 </p>